 <section id="search" class="search-wrap">
    <h1>Find The Book</h1>
    <form action="/gigs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Java, C++, Maths, etc...">
      <input type="submit" value="Search">
    </form>
  </section>